<label for="scuid">SCU ID:</label>
<input type="text" name="scuid" id="scuid" value="<%=@student.scuid%>"><br>
<label for="firstname">FIRST NAME:</label>
<input type="text" name="firstname" id="firstname" value="<%=@student.firstname%>"><br>
<label for="lastname">LAST NAME:</label>
<input type="text" name="lastname" id="lastname" value="<%=@student.lastname%>"><br>
<label for="birthday">BIRTH DATE:</label>
<input type="text" name="birthday" id="birthday" value="<%=@student.birthday%>"><br>
<label for="address">ADDRESS:</label>
<input type="text" name="address" id="address" value="<%=@student.address%>"><br>

<input type="submit" value="SAVE STUDENT RECORD">